#content  {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	text-align:left;
	padding-right:40px;
}
#content h1 {
	font-size: 40px;
}

#content h2 {
	font-size: 30px;
}

#content p {
	font-size: 14px;
}

#ranklist {
	padding:    15px;
	font-size:  16px;
	display:    table;
	border-spacing: 10px;
	width:      auto;
}
#rank {
	display:    table-row;
	width:      auto;
}
#thumbnail {
	float:    left;
	display:  table-cell;
	position: relative;
	width:    120px;
	height:   120px;
	overflow: hidden;
}
#prop {
	float:      left;
	display:    table-cell;
	position:   relative;
	width:      300px;
	font-style: normal;
}
#prop ol {
	list-style-type: none;
}
#title {
	font-style: italic;
}
#id,eventdate,dimension {
	font-style: normal;
}
#searchfield {
}
#searchresult {
}

