#content  {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	text-align:left;
}
#ranklist {
	z-index:    1;
	position:   absolute;
	top:        90px;
	left:       5px;
	padding:    15px;
	font-size:  16px;
	display:    table;
	border-spacing: 10px;
	width:      100%;
}
#rank {
	display:    table-row;
	width:      auto;
}
#thumbnail {
	float:    left;
	display:  table-column;
	position: relative;
	width:    150px;
	height:   120px;
	overflow: hidden;
}
#fullimage {
	float:      left;
	display:    table-column;
	position:   relative;
	width:      98%;
	height:     auto;
	max-width:  98%;
	max-height: 90%;
	overflow:   hidden;
}
#imgid,#imgtitle,#imgdate,#imgdimension {
	float:      left;
	margin-left: 15px;
	position:   relative;
	width:      auto;
	font-size:  20px;
}
#concertdate,#concerttitle,#concertdescription {
	float:       left;
	display:     table-column;
	margin-left: 15px;
	position:    relative;
	width:       auto;
	font-size:   18px;
}
#imgid {
	font-style: bold;
}
#imgtitle {
	font-style: italic;
}
#imgdate,#imgdimension
{
	font-style: normal;
}
#prop {
	float:      left;
	display:    table-column;
	position:   relative;
	width:      auto;
	font-style: normal;
}
#prop ul {
	list-style: none;
	margin-left: 10px;
}
#title,#concerttitle {
	font-style: italic;
}
#id,eventdate,dimension {
	font-style: normal;
}
#searchfield {
	clear: both;
	float: left;
	display: none;
	position: relative;
	z-index: 2;
}
#searchtext {
	display: block;
	float: left;
	width: 360px;
	height: 87px;
	box-sizing: border-box;
	border: 3px solid #ccc;
	border-radius: 4px;
	font-size: 18px;
	background-color: #ffffcc;
	background-position: 10px 10px; 
	background-size: 50px 50px;
	background-repeat: no-repeat;
	padding: 12px 15px 12px 15px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
#tostart {
	background-image: url('./skiptostart-icon.png');
}
#entersearch {
	background-image: url('./search-icon.png');
}
#searchsubmit {
	background-image: url('./right-arrow-icon.png');
}
#searchprev {
	background-image: url('./left-double-arrow-icon.png');
	display: none;
}
#searchnext {
	background-image: url('./right-double-arrow-icon.png');
	display: none;
}
#fullscreen {
	background-image: url('./fullscreen-icon.png');
	display: default;
}
#exitfullscreen {
	background-image: url('./exit-fullscreen-icon.png');
	display: default;
}
#concertlist {
	background-image: url('./concertlist-icon.png');
	display: default;
}
#exitconcertlist {
	background-image: url('./camera-icon.png');
	display: default;
}
#tostart,#entersearch,#searchsubmit,#searchprev,#searchnext,#fullscreen,#exitfullscreen,#concertlist,#exitconcertlist {
	float: left;
	box-sizing: border-box;
	border: 3px solid #ddd;
	border-radius: 6px;
	height: 87px;
	width: 90px;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 15px 15px;
	background-size: 50px 50px;
	cursor: pointer;
}
#searchresult {
	clear: left;
}
#DidYouMean {
	z-index:    2;
	clear:      left;
}
#DidYouMeanList {
	position:   relative;
	z-index:    2;
	display:    none;
	background: #fafafa;
	width:      348px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dymelem a {
	color: black;
	text-decoration: none;
	display: block;
}
.dymelem a:hover, .dymelem a:focus {
	color: #3333ff;
}
.searchelem a {
	color: black;
	text-decoration: none;
	display: block;
}
.searchelem a:hover, .searchelem a:focus {
	color: #3333ff;
}
#DidYouMeanElem {
	z-index:    2;
	display:    block;
	background: #fafafa;
	width:      348px;
}



