#content  {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	text-align:left;
	padding-right:40px;
}
#content h1 {
	font-size: 40px;
}

#content h2 {
	font-size: 30px;
}

#content p {
	font-size: 14px;
}

#ranklist {
	padding:    15px;
	font-size:  16px;
	display:    table;
	border-spacing: 10px;
	width:      700px;
}
#rank {
	display:    table-row;
	width:      auto;
}
#thumbnail {
	float:    left;
	display:  table-column;
	position: relative;
	width:    120px;
	height:   120px;
	overflow: hidden;
}
#prop {
	float:      left;
	display:    table-column;
	position:   relative;
	width:      auto;
	font-style: normal;
}
#prop ul {
	list-style: none;
	margin-left: 10px;
}
#title {
	font-style: italic;
}
#id,eventdate,dimension {
	font-style: normal;
}
#searchfield {
}
#searchtext {
	float: left;
	width: 300px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('./searchicon.png');
	background-position: 10px 10px; 
	background-size: 25px 25px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
#searchsubmit {
	background-image: url('./right-arrow-icon.png');
}
#searchprev {
	background-image: url('./left-double-arrow-icon.png');
	display: none;
}
#searchnext {
	background-image: url('./right-double-arrow-icon.png');
	display: none;
}
#searchsubmit,#searchprev,#searchnext {
	float: left;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	height: 47px;
	width: 50px;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 25px 25px;
	cursor: pointer;
}
#searchresult {
	clear: left;
}
#DidYouMean {
	clear: left;
}
#DidYouMeanList {
	display: none;
	background-color: #f9f9f9;
	min-width: 160px;
	max-width: 300px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dymelem:hover, .dymelem:focus {
	background-color: #aaa;
}
#DidYouMeanElem {
	max-width: 300px;
}
#message {
	font-style: italic;
}



