body {
	background:#fff
	top center no-repeat;
	color:#303030;
	font:84% Arial,Helvetica,sans-serif; line-height:1.6em;
}

h1 {
	color:#404040;
	font-size:1.2em;
	line-height:1.1em;
	margin:20px 0 0 0;
}

#search_form  {
	display: table;
	padding-bottom: 20px;
}

#search_elements {
	display: table-row;
}

#search_input {
	display: table-cell;
	align: top;
	width: 60%;
}

#search_button {
	display: table-cell;
	align: center;
	width: 3%;
}

#navigation_form  {
	display: table;
}

#navigation_elements {
	display: table-row;
}

#navigation_next {
	display: table-cell;
	align: center;
	width: 20%;
}

#navigation_prev {
	display: table-cell;
	align: center;
	width: 20%;
}

#search_ranklist {
	display: table;
	border: 1px solid green;
}

#search_rank {
	display: table-row;
}

#rank_attr {
	display: table-cell;
	vertical-align:top;
	font-size:0.7em;
	align: center;
	width:400px;
}

#rank_summary {
	display: table-cell;
	vertical-align:top;
	color:#668888;
	align: center;
	font-size:1.1em;
	line-height:1.2em;
	width:200px;
}

#rank_thumbnail {
	display: table-cell;
	align: center;
	width:100px;
	height:100px;
}

#footer {
	display: table;
	width: 80%;
}


